<html>
  <head>
    <meta charSet='utf-8'>
    <meta httpEquiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover'>
    <link rel='icon' href='/favicon.png'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap' rel='stylesheet'>
    <title>Spase Demo</title>
  </head>
  <body>
    <div id='a'>
      <div id='a-a' style='width: 50px; height: 50px; background: #000;'></div>
      <div id='a-b' style='width: 50px; height: 50px; background: #000;'></div>
    </div>
  </body>
</html>
